fastapi==0.136.1
uvicorn==0.46.0
websockets==16.0
python-dotenv==1.2.2
pydantic==2.13.4

numpy==1.26.4
protobuf==4.25.8
opencv-contrib-python==4.11.0.86
mediapipe==0.10.14

pyttsx3==2.99
pywin32==311
comtypes==1.4.16

google-generativeai==0.8.6
